[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-bcrypt = "*"
flask-migrate = "*"
flask = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
flask-jwt-extended = "*"

[dev-packages]

[requires]
python_version = "3.13"
